@import '@/_styles/variables';

.cursor {
  position: fixed;
  width: 16px;
  height: 16px;
  background-color: var(--accent);
  border-radius: 50%;
  pointer-events: none;
  z-index: 99999;
  display: none;

  @media (width >= $breakpoint-mob) {
    display: block;
  }
}
