@import 'variables';

:root {
  --font-h1: 300 88rem / 96% var(--font-family-primary);

  --accent: #266ef9;
  --white: #fff;
  --black: #000;
  --gray-200: #cdcdcd;
  --gray-300: #b8b8b8;
  --gray-400: #1d1d1d;
  --gray-500: #111111;

  --ease: ease;
  --move-duration: 0.5s;
  --hover-duration: 0.3s;
}

@media (width <= $breakpoint-mob) {
  :root {
    --font-h1: 300 52rem / 96% var(--font-family-primary);
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}
*::before,
*::after {
  display: block;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: inherit;
  display: block;
  object-position: center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  height: 200vh;
  background-color: var(--black);
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  text-rendering: optimizelegibility;
  cursor: none;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 16px;
}

.h1 {
  font-size: clamp(2.5em, 5vw, 6em);
}

.h2 {
  font-size: clamp(2.5em, 5vw, 4em);
}

.p {
  font-size: clamp(1.5em, 5vw, 2.25em);
}
