@import '@/_styles/variables';

.imageContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 42vw;
  height: 42vw;
  transform: translate(-50%, -50%);

  @media (width >= $breakpoint-mob) {
    width: 30vw;
    height: 30vw;
  }
}
