@import '@/_styles/variables';

.faqsContainer {
  padding-top: 100px;
  width: 100%;
  min-height: 100svh;
  display: flex;
  align-items: center;
  background-color: var(--white);

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;

    @media (width >= $breakpoint-tablet) {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }

    .title {
      max-width: 550px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      color: var(--black);
      font-family: var(--font-uber-move);
    }

    p {
      font-size: 24px;
    }
  }

  .faqs {
    max-width: 500px;
    width: 100%;
  }
}
